/*
Copyright (c) 2003-2011, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckfinder.com/license
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

body {
line-height:1;
}

ol,ul {
list-style:none;
}

blockquote,q {
quotes:none;
}

blockquote:before,blockquote:after,q:before,q:after {
content: ' ';
content:none;
}:focus {
outline:0;
}

ins {
text-decoration:none;
}

del {
text-decoration:line-through;
}

table {
border-collapse:collapse;
border-spacing:0;
}

body {
font:9pt/1.5em Arial,Helvetica,sans-serif;
}

pre,code,tt {
font:1em/1.5em 'Andale Mono ', 'Lucida Console ',monospace;
}

h1,h2,h3,h4,h5,h6,b,strong {
font-weight:bold;
}

em,i,dfn {
font-style:italic;
}

dfn {
font-weight:bold;
}

p,code,pre,kbd {
margin:0 0 1.5em 0;
}

blockquote {
margin:0 1.5em 1.5em 1.5em;
}

li ul,li ol {
margin:0 1.5em;
}

ul,ol {
margin:0 1.5em 1.5em 1.5em;
}

ul,ul li {
list-style-type:disc;
}

ol,ol li {
list-style-type:decimal;
}

dl {
margin:0 0 1.5em 0;
}

dl dt {
font-weight:bold;
}

dd {
margin-left:1.5em;
}

table {
margin-bottom:1.4em;
width:100%;
}

th {
font-weight:bold;
}

th,td,caption {
padding:4px 10px 4px 5px;
}

tfoot {
font-style:italic;
}

sup,sub {
line-height:0;
}

abbr,acronym {
border-bottom:1px dotted;
}

address {
margin:0 0 1.5em;
font-style:italic;
}

del {
text-decoration:line-through;
}

pre {
margin:1.5em 0;
white-space:pre;
}

img.centered,.aligncenter,div.aligncenter {
display:block;
margin-left:auto;
margin-right:auto;
}

img.alignright {
display:inline;
}

img.alignleft {
display:inline;
}

.alignright {
float:right;
margin-left:10px;
}

.alignleft {
float:left;
margin-right:10px;
}

.clearfix::after,.group::after {
content: ". ";
display:block;
height:0;
clear:both;
visibility:hidden;
}

*:first-child+html .clearfix {
zoom:1;
display:block;
}

* html .clearfix {
zoom:1;
display:block;
}

*:first-child+html .group {
zoom:1;
display:block;
}

* html .group {
zoom:1;
display:block;
}

html,body,.fake_wrapper,#ckfinder {
height:100%;
width:100%;
overflow:hidden;
}

#ckfinder_view {
text-align:left;
width:100%;
height:100%;
margin:auto;
}

.container {
vertical-align:top;
padding:0;
height:100%;
overflow:hidden;
}

.columns_1 #sidebar_container {
display:none;
}

.columns_2 #sidebar_container {
width:200px;
}

#sidebar_wrapper {
height:100%;
}

#sidebar_container {
float:left;
}

#folder_view,.tools_view {
overflow:hidden;
}

#status_view {
height:2em;
}

#panel_view {
overflow:auto;
}

#panel_view,#files_view {
clear:both;
}

.cke_compatibility a,.cke_compatibility a:hover,.cke_compatibility a:active,.cke_compatibility a:visited {
color:black;
text-decoration:none;
}

.cke_compatibility,.cke_compatibility td,.cke_compatibility td * {
font-size:11px;
font-family: 'Microsoft Sans Serif ',Tahoma,Arial,Verdana,Sans-Serif;
line-height:1;
}

.cke_compatibility tbody {
border:0;
}

.cke_compatibility .cke_accessibility {
display:none;
}

.cke_compatibility table {
width:auto;
}

.cke_compatibility {
background-color:#FFF;
}

.cke_compatibility * {
color:black;
height:auto;
border-collapse:collapse;
padding:0;
margin:0;
vertical-align:baseline;
white-space:nowrap;
}

.cke_compatibility pre,.cke_compatibility textarea {
white-space:pre;
}

.cke_compatibility code,.cke_compatibility font {
white-space:normal;
}

@media print {
.cke_skin_kama .cke_toolbox {
display:none;
}
}

.cke_skin_kama .cke_browser_webkit .cke_toolbox,.cke_skin_kama .cke_browser_webkit .cke_toolbox >span {
white-space:normal;
}

.cke_skin_kama .cke_toolbox {
clear:both;
padding:5px 3px 5px 6px;
}

.cke_skin_kama .cke_rtl .cke_toolbox {
padding:5px 6px 5px 3px;
}

.cke_skin_kama a.cke_toolbox_collapser,.cke_skin_kama a:hover.cke_toolbox_collapser {
background-image:url(images/sprites.png);
_background-image:url(images/sprites_ie6.png);
background-position:3px -1366px;
background-repeat:no-repeat;
width:11px;
height:11px;
float:right;
border:1px outset #D3D3D3;
margin:11px 4px 2px;
cursor:pointer;
}

.cke_skin_kama .cke_rtl a.cke_toolbox_collapser,.cke_skin_kama .cke_rtl a:hover.cke_toolbox_collapser {
float:left;
}

.cke_skin_kama a.cke_toolbox_collapser_min,.cke_skin_kama a:hover.cke_toolbox_collapser_min {
background-image:url(images/sprites.png);
_background-image:url(images/sprites_ie6.png);
background-position:4px -1387px;
background-repeat:no-repeat;
margin:2px 4px;
}

.cke_skin_kama .cke_rtl a.cke_toolbox_collapser_min,.cke_skin_kama .cke_rtl a:hover.cke_toolbox_collapser_min {
background-position:4px -1408px;
}

.cke_skin_kama .cke_toolbar {
display:inline;
}

.cke_skin_kama .cke_separator {
display:none;
}

.cke_skin_kama .cke_break {
font-size:0;
clear:left;
}

.cke_skin_kama .cke_rtl .cke_break {
clear:right;
}

.cke_skin_kama .cke_toolbar_start {
display:none;
}

.cke_skin_kama .cke_toolgroup {
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
background-image:url(images/sprites.png);
_background-image:url(images/sprites_ie6.png);
background-repeat:repeat-x;
background-position:0 -500px;
float:left;
margin-right:6px;
margin-bottom:5px;
padding:2px;
display:inline;
}

.cke_skin_kama .cke_rtl .cke_toolgroup {
float:right;
margin-right:0;
margin-left:6px;
}

.cke_skin_kama .cke_button a,.cke_skin_kama .cke_button a:hover,.cke_skin_kama .cke_button a:focus,.cke_skin_kama .cke_button a:active,.cke_skin_kama .cke_button a.cke_off {
border-radius:3px;
outline:none;
padding:2px 4px;
height:18px;
display:inline-block;
cursor:default;
}

.cke_skin_kama .cke_button a,.cke_skin_kama .cke_button a.cke_off {
filter:alpha(opacity=70);
opacity:.70;
-moz-border-radius:3px;
-webkit-border-radius:3px;
}

.cke_skin_kama .cke_hc .cke_button a,.cke_skin_kama .cke_hc .cke_button a.cke_off {
opacity:1.0;
filter:alpha(opacity=100);
border:1px solid white;
}

.cke_skin_kama .cke_button a.cke_on {
background-color:#a3d7ff;
filter:alpha(opacity=100);
opacity:1;
padding:2px 4px;
}

.cke_skin_kama .cke_hc .cke_button a.cke_on {
padding:0 2px!important;
border-width:3px;
}

.cke_skin_kama .cke_button a.cke_disabled,.cke_skin_kama .cke_browser_ie a:hover.cke_button .cke_disabled {
filter:alpha(opacity=30);
opacity:.3;
}

.cke_skin_kama .cke_hc .cke_button a.cke_disabled,.cke_skin_kama .cke_browser_ie.cke_hc a:hover.cke_button .cke_disabled {
filter:alpha(opacity=60);
opacity:.6;
}

.cke_skin_kama .cke_button a:hover.cke_on,.cke_skin_kama .cke_button a:focus.cke_on,.cke_skin_kama .cke_button a:active.cke_on,.cke_skin_kama .cke_button a:hover.cke_off,.cke_skin_kama .cke_button a:focus.cke_off,.cke_skin_kama .cke_button a:active.cke_off {
filter:alpha(opacity=100);
opacity:1;
padding:2px 4px;
}

.cke_skin_kama .cke_button a:hover.cke_on,.cke_skin_kama .cke_button a:focus.cke_on,.cke_skin_kama .cke_button a:active.cke_on {
background-color:#86caff;
}

.cke_skin_kama .cke_button a:hover.cke_off,.cke_skin_kama .cke_button a:focus.cke_off,.cke_skin_kama .cke_button a:active.cke_off {
background-color:#dff1ff;
}

.cke_skin_kama .cke_hc .cke_button a:hover.cke_on,.cke_skin_kama .cke_hc .cke_button a:focus.cke_on,.cke_skin_kama .cke_hc .cke_button a:active.cke_on,.cke_skin_kama .cke_hc .cke_button a:hover.cke_off,.cke_skin_kama .cke_hc .cke_button a:focus.cke_off,.cke_skin_kama .cke_hc .cke_button a:active.cke_off {
padding:0 2px!important;
border-width:3px;
}

.cke_skin_kama .cke_button .cke_icon {
margin-top:1px;
width:16px;
height:16px;
display:inline-block;
float:left;
}

.cke_skin_kama .cke_rtl .cke_button .cke_icon {
float:right;
}

.cke_skin_kama .cke_button .cke_label {
cursor:default;
display:none;
padding-left:3px;
line-height:18px;
vertical-align:middle;
float:left;
}

.cke_skin_kama .cke_rtl .cke_button .cke_label {
padding-left:0;
padding-right:3px;
float:right;
}

.cke_skin_kama .cke_hc .cke_button .cke_label {
padding:0;
display:inline-block;
}

.cke_skin_kama .cke_hc .cke_button .cke_icon {
display:none;
}

.cke_skin_kama .cke_accessibility {
position:absolute;
display:block;
width:0;
height:0;
overflow:hidden;
}

.cke_skin_kama .cke_button .cke_buttonarrow {
display:inline-block;
height:17px;
width:8px;
background-position:2px -1469px;
background-image:url(images/sprites.png);
_background-image:url(images/sprites_ie6.png);
background-repeat:no-repeat;
float:left;
}

.cke_skin_kama .cke_rtl .cke_button .cke_buttonarrow {
background-position:0 -1469px;
float:right;
}

.cke_skin_kama .cke_hc .cke_button .cke_buttonarrow {
display:none;
}

.cke_skin_kama .cke_browser_gecko .cke_toolbar,.cke_skin_kama .cke_browser_gecko .cke_button a,.cke_skin_kama .cke_browser_gecko .cke_button a.cke_off,.cke_skin_kama .cke_browser_gecko .cke_button .cke_icon,.cke_skin_kama .cke_browser_gecko .cke_button .cke_buttonarrow,.cke_skin_kama .cke_browser_gecko .cke_separator,.cke_skin_kama .cke_browser_gecko .cke_toolbar_start {
display:block;
float:left;
}

.cke_skin_kama .cke_browser_gecko.cke_hc .cke_button .cke_icon {
display:none;
}

.cke_skin_kama .cke_browser_gecko .cke_rtl .cke_toolbar,.cke_skin_kama .cke_browser_gecko .cke_rtl .cke_button a,.cke_skin_kama .cke_browser_gecko .cke_rtl.cke_button a.cke_off,.cke_skin_kama .cke_browser_gecko .cke_rtl .cke_button .cke_icon,.cke_skin_kama .cke_browser_gecko .cke_rtl .cke_button .cke_buttonarrow,.cke_skin_kama .cke_browser_gecko .cke_rtl .cke_toolbar_start {
float:right;
}

.cke_skin_kama .cke_browser_gecko .cke_button .cke_label,.cke_skin_kama .cke_browser_gecko .cke_break {
float:left;
}

.cke_skin_kama .cke_browser_gecko .cke_rtl .cke_button .cke_label,.cke_skin_kama .cke_browser_gecko .cke_rtl .cke_break {
float:right;
}

.cke_skin_kama .cke_browser_ie .cke_rtl .cke_button .cke_icon,.cke_skin_kama .cke_browser_ie .cke_rtl .cke_button .cke_label,.cke_skin_kama .cke_browser_ie .cke_rtl .cke_button .cke_buttonarrow {
float:none;
}

.cke_skin_kama .cke_browser_webkit .cke_toolbar {
float:left;
}

.cke_skin_kama .cke_browser_webkit .cke_rtl .cke_toolbar {
float:right;
}

.cke_skin_kama .cke_browser_ie8 .cke_button .cke_label,.cke_skin_kama .cke_browser_opera .cke_button .cke_label,.cke_skin_kama .cke_browser_webkit .cke_button .cke_label {
line-height:20px;
}

.cke_skin_kama .cke_browser_opera.cke_browser_quirks .cke_button .cke_label,.cke_skin_kama .cke_browser_iequirks .cke_button .cke_label {
line-height:17px;
}

.cke_skin_kama .cke_browser_ie8 .cke_button .cke_label {
vertical-align:top;
}

.cke_skin_kama .cke_browser_iequirks.cke_browser_ie8 .cke_button .cke_label {
vertical-align:middle;
}

.cke_skin_kama .cke_button_TruncateBasket .cke_icon {
background:url( 'images/toolbar/clear_basket.gif ') no-repeat 0 0;
}

.cke_skin_kama .cke_button_settings .cke_icon {
background:url( 'images/toolbar/settings.gif ') no-repeat 0 0;
}

.cke_skin_kama .cke_button_refresh .cke_icon {
background:url( 'images/toolbar/refresh.gif ') no-repeat 0 0;
}

.cke_skin_kama .cke_button_upload .cke_icon {
background:url( 'images/toolbar/add.gif ') no-repeat 0 0;
}

.cke_skin_kama .cke_button_help .cke_icon {
background:url( 'images/toolbar/help.gif ') no-repeat 0 0;
}

.cke_skin_kama .cke_button_downloadFile .cke_icon {
background:url( 'images/toolbar/download.gif ') no-repeat 0 0;
}

.cke_skin_kama .cke_button_viewFile .cke_icon {
background:url( 'images/toolbar/view.gif ') no-repeat 0 0;
}

.cke_skin_kama .cke_button_deleteFile .cke_icon {
background:url( 'images/toolbar/delete.gif ') no-repeat 0 0;
}

.cke_skin_kama .cke_button_removeFolder .cke_icon {
background:url( 'images/toolbar/delete.gif ') no-repeat 0 0;
}

#folders_view .folder_tree li a {
background:url( 'images/ckffolder.gif ') 3px 0 no-repeat;
}

#folders_view .folder_tree li.closable a {
background-image:url( 'images/ckffolderopened.gif ');
}

#folders_view .folder_tree li.openable a {
background-image:url( 'images/ckffolder.gif ');
}

#folders_view .folder_tree li.nochildren a {
background-image:url( 'images/ckffolder.gif ');
}

#folders_view .folder_tree li a.processing {
background-image:url( 'images/loaders/16x16.gif ');
}

#folders_view .folder_tree li.closable .expander {
background-image:url( 'images/ckfminus.gif ');
}

#folders_view .folder_tree li.openable .expander {
background-image:url( 'images/ckfplus.gif ');
}

#files_view .files_thumbnails .processing div.image {
background:url( "images/loaders/32x32.gif ") 50% 50% no-repeat;
}

.cke_skin_kama .cke_contextmenu {
padding:2px;
}

.cke_skin_kama .cke_menuitem a {
display:block;
}

.cke_skin_kama .cke_menuitem span {
cursor:default;
}

.cke_skin_kama .cke_menuitem a:hover,.cke_skin_kama .cke_menuitem a:focus,.cke_skin_kama .cke_menuitem a:active {
background-color:#D3D3D3;
display:block;
}

.cke_skin_kama .cke_menuitem a.cke_disabled:hover,.cke_skin_kama .cke_menuitem a.cke_disabled:focus,.cke_skin_kama .cke_menuitem a.cke_disabled:active {
background-color:transparent!important;
}

.cke_skin_kama .cke_menuitem .cke_icon {
width:16px;
height:16px;
float:left;
}

.cke_skin_kama .cke_menuitem .cke_disabled .cke_icon {
filter:alpha(opacity=70);
opacity:.70;
}

.cke_skin_kama .cke_menuitem .cke_icon_wrapper {
background-color:#D3D3D3;
border:solid 4px #D3D3D3;
width:16px;
height:16px;
float:left;
filter:alpha(opacity=70);
opacity:.70;
clear:both;
}

.cke_rtl .cke_skin_kama .cke_menuitem .cke_icon_wrapper {
float:right;
}

.cke_skin_kama .cke_menuitem a:hover .cke_icon_wrapper,.cke_skin_kama .cke_menuitem a:focus .cke_icon_wrapper,.cke_skin_kama .cke_menuitem a:active .cke_icon_wrapper {
background-color:#9d9d9d;
border:solid 4px #9d9d9d;
filter:alpha(opacity=70);
opacity:.70;
}

.cke_skin_kama .cke_menuitem a:hover.cke_disabled .cke_icon_wrapper,.cke_skin_kama .cke_menuitem a:focus.cke_disabled .cke_icon_wrapper,.cke_skin_kama .cke_menuitem a:active.cke_disabled .cke_icon_wrapper {
background-color:#D3D3D3;
border:solid 4px #D3D3D3;
}

.cke_skin_kama .cke_menuitem .cke_label {
display:block;
padding-right:3px;
padding-top:5px;
padding-left:4px;
height:19px;
margin-left:24px;
background-color:#fff;
}

.cke_skin_kama .cke_frameLoaded .cke_menuitem .cke_label {
filter:alpha(opacity=70);
opacity:.70;
}

.cke_rtl .cke_skin_kama .cke_menuitem .cke_label {
padding-right:0;
margin-left:0;
padding-left:3px;
margin-right:28px;
}

.cke_skin_kama .cke_menuitem a.cke_disabled .cke_label {
filter:alpha(opacity=30);
opacity:.30;
}

.cke_skin_kama .cke_menuitem a:hover .cke_label,.cke_skin_kama .cke_menuitem a:focus .cke_label,.cke_skin_kama .cke_menuitem a:active .cke_label {
background-color:#D3D3D3;
}

.cke_skin_kama .cke_menuitem a.cke_disabled:hover .cke_label,.cke_skin_kama .cke_menuitem a.cke_disabled:focus .cke_label,.cke_skin_kama .cke_menuitem a.cke_disabled:active .cke_label {
background-color:transparent;
}

.cke_skin_kama .cke_menuseparator {
background-color:#D3D3D3;
height:2px;
filter:alpha(opacity=70);
opacity:.70;
_font-size:0;
}

.cke_skin_kama .cke_menuarrow {
background-image:url(images/sprites.png);
_background-image:url(images/sprites_ie6.png);
background-position:0 -1411px;
background-repeat:no-repeat;
height:5px;
width:3px;
float:right;
margin-right:2px;
margin-top:3px;
}

.cke_rtl .cke_skin_kama .cke_menuarrow {
float:left;
margin-right:0;
margin-left:2px;
background-image:url(images/sprites.png);
_background-image:url(images/sprites_ie6.png);
background-position:0 -1390px;
background-repeat:no-repeat;
}

.cke_browser_ie.cke_ltr .cke_skin_kama .cke_menuarrow {
position:absolute;
right:2px;
}

.cke_browser_ie.cke_rtl .cke_skin_kama .cke_menuarrow {
position:absolute;
left:2px;
}

.cke_skin_kama .cke_panel {
border:1px solid #8f8f73;
background-color:#fff;
width:120px;
height:100px;
overflow:hidden;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
}

.cke_skin_kama .cke_contextmenu {
margin:0;
}

.cke_skin_kama .cke_panel iframe {
width:100%;
height:100%;
}

html.cke_skin_kama_container {
overflow:auto;
overflow-x:hidden;
}

body.cke_panel_frame {
overflow:auto;
overflow-x:hidden;
}

ul.cke_panel_list {
list-style-type:none;
margin:3px;
padding:0;
white-space:nowrap;
}

li.cke_panel_listItem {
margin:0;
}

.cke_panel_listItem a {
padding:2px;
display:block;
border:1px solid #fff;
color:inherit;
text-decoration:none;
overflow:hidden;
text-overflow:ellipsis;
}

* html .cke_panel_listItem a {
width:100%;
color:#000;
}

*:first-child+html .cke_panel_listItem a {
color:#000;
}

.cke_panel_listItem.cke_selected a {
border:1px solid #ccc;
background-color:#e9f5ff;
}

.cke_panel_listItem a:hover,.cke_panel_listItem a:focus,.cke_panel_listItem a:active {
border-color:#316ac5;
background-color:#dff1ff;
}

.cke_panel_grouptitle {
font-size:11px;
font-family: 'Microsoft Sans Serif ',Tahoma,Arial,Verdana,Sans-Serif;
font-weight:bold;
white-space:nowrap;
background-color:#dcdcdc;
color:#000;
margin:0;
padding:3px;
}

html.cke_skin_kama_container {
visibility:visible;
}

body .cke_dialog {
visibility:visible;
background-color:#fff;
}

.cke_skin_kama table.cke_dialog.cke_browser_gecko {
display:block;
}

.cke_skin_kama .cke_dialog_body {
z-index:1;
border:solid 1px #ddd;
padding:5px;
background-color:#fff;
position:relative;
_position:static;
}

.cke_skin_kama .cke_dialog_tl,.cke_skin_kama .cke_dialog_tr,.cke_skin_kama .cke_dialog_tc,.cke_skin_kama .cke_dialog_bl,.cke_skin_kama .cke_dialog_br,.cke_skin_kama .cke_dialog_bc,.cke_skin_kama .cke_dialog_ml,.cke_skin_kama .cke_dialog_mr {
display:none;
}

.cke_skin_kama .cke_dialog_title {
font-weight:bold;
font-size:14px;
padding:3px 3px 8px;
cursor:move;
position:relative;
border-bottom:1px solid #eee;
}

.cke_skin_kama .cke_browser_iequirks .cke_dialog_title,.cke_skin_kama .cke_browser_ie6 .cke_dialog_title,.cke_skin_kama .cke_browser_ie7 .cke_dialog_title {
margin-bottom:22px;
}

.cke_skin_kama .cke_browser_iequirks.cke_single_page .cke_dialog_title,.cke_skin_kama .cke_browser_ie6.cke_single_page .cke_dialog_title,.cke_skin_kama .cke_browser_ie7.cke_single_page .cke_dialog_title {
margin-bottom:10px;
}

.cke_skin_kama .cke_dialog_contents {
background-color:#ebebeb;
border:solid 1px #fff;
border-bottom:none;
overflow:auto;
padding:17px 10px 5px 10px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
border-top-left-radius:5px;
border-top-right-radius:5px;
margin-top:22px;
}

.cke_skin_kama .cke_dialog_footer {
text-align:right;
background-color:#ebebeb;
border:solid 1px #fff;
border-bottom:none;
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-webkit-border-bottom-left-radius:5px;
-webkit-border-bottom-right-radius:5px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
}

.cke_skin_kama .cke_rtl .cke_dialog_footer {
text-align:left;
}

.cke_skin_kama .cke_dialog_page_contents {
position:relative;
}

.cke_skin_kama .cke_dialog_footer .cke_resizer {
margin-top:20px;
}

.cke_skin_kama .cke_browser_iequirks .cke_dialog_footer .cke_resizer,.cke_skin_kama .cke_browser_ie6 .cke_dialog_footer .cke_resizer {
margin-top:27px;
}

.cke_skin_kama .cke_dialog_tabs {
height:23px;
display:inline-block;
_display:block;
margin-left:10px;
margin-right:10px;
margin-top:11px;
position:absolute;
z-index:2;
}

.cke_skin_kama .cke_browser_iequirks .cke_dialog_tabs,.cke_skin_kama .cke_browser_ie6 .cke_dialog_tabs,.cke_skin_kama .cke_browser_ie7 .cke_dialog_tabs {
top:33px;
}

.cke_skin_kama .cke_rtl .cke_dialog_tabs {
right:10px;
}

.cke_skin_kama a.cke_dialog_tab,.cke_skin_kama a:link.cke_dialog_tab,.cke_skin_kama a:active.cke_dialog_tab,.cke_skin_kama a:hover.cke_dialog_tab,.cke_skin_kama a:visited.cke_dialog_tab {
background-image:url(images/sprites.png);
background-repeat:repeat-x;
background-position:0 -1323px;
background-color:#ebebeb;
height:14px;
padding:4px 8px;
display:inline-block;
cursor:pointer;
}

.cke_skin_kama .cke_browser_gecko18 a.cke_dialog_tab,.cke_skin_kama .cke_browser_gecko18 a:link.cke_dialog_tab,.cke_skin_kama .cke_browser_gecko18 a:active.cke_dialog_tab,.cke_skin_kama .cke_browser_gecko18 a:hover.cke_dialog_tab,.cke_skin_kama .cke_browser_gecko18 a:visited.cke_dialog_tab {
display:inline;
position:relative;
top:6px;
}

.cke_skin_kama a:hover.cke_dialog_tab {
background-color:#f1f1e3;
}

.cke_skin_kama a.cke_dialog_tab_selected,.cke_skin_kama a:link.cke_dialog_tab_selected,.cke_skin_kama a:active.cke_dialog_tab_selected,.cke_skin_kama a:hover.cke_dialog_tab_selected,.cke_skin_kama a:visited.cke_dialog_tab_selected {
background-position:0 -1279px;
cursor:default;
}

.cke_skin_kama .cke_single_page .cke_dialog_tabs {
display:none;
}

.cke_skin_kama .cke_single_page .cke_dialog_contents {
padding-top:5px;
margin-top:10px;
}

.cke_skin_kama .cke_browser_ie7.cke_single_page .cke_dialog_contents {
margin-top:-10px;
position:relative;
margin-bottom:-22px;
}

.cke_skin_kama .cke_dialog_ui_vbox table,.cke_skin_kama .cke_dialog_ui_hbox table {
margin:auto;
}

.cke_skin_kama .cke_dialog_ui_vbox_child {
padding:5px 0;
}

.cke_skin_kama input.cke_dialog_ui_input_text,.cke_skin_kama input.cke_dialog_ui_input_password {
background-color:white;
border:none;
padding:0;
width:100%;
height:14px;
}

.cke_skin_kama div.cke_dialog_ui_input_text,.cke_skin_kama div.cke_dialog_ui_input_password {
background-color:white;
border:1px solid #a0a0a0;
padding:1px 0;
}

.cke_skin_kama textarea.cke_dialog_ui_input_textarea {
background-color:white;
border:none;
padding:0;
width:100%;
_width:99%;
overflow:auto;
resize:none;
}

.cke_skin_kama div.cke_dialog_ui_input_textarea {
background-color:white;
border:1px solid #a0a0a0;
padding:1px 0;
}

.cke_skin_kama div.cke_disabled .cke_dialog_ui_labeled_content * {
background-color:#a0a0a0;
cursor:default;
}

.cke_skin_kama .cke_dialog_ui_hbox {
width:100%;
}

.cke_skin_kama .cke_dialog_ui_hbox_first,.cke_skin_kama .cke_dialog_ui_hbox_child,.cke_skin_kama .cke_dialog_ui_hbox_last {
vertical-align:top;
}

.cke_skin_kama .cke_ltr .cke_dialog_ui_hbox_first,.cke_skin_kama .cke_ltr .cke_dialog_ui_hbox_child {
padding-right:10px;
}

.cke_skin_kama .cke_rtl .cke_dialog_ui_hbox_first,.cke_skin_kama .cke_rtl .cke_dialog_ui_hbox_child {
padding-left:10px;
}

.cke_skin_kama a.cke_dialog_ui_button {
border-collapse:separate;
cursor:default;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
background:transparent url(images/sprites.png) repeat-x scroll 0 -1069px;
_background:none;
padding:5px 0;
}

.cke_skin_kama .cke_browser_iequirks a.cke_dialog_ui_button {
padding:0;
}

.cke_skin_kama .cke_browser_ie6 a.cke_dialog_ui_button span {
width:70px;
}

.cke_skin_kama .cke_browser_iequirks a.cke_dialog_ui_button span,.cke_skin_kama .cke_browser_iequirks a.cke_dialog_ui_button span {
width:100px;
}

.cke_skin_kama .cke_browser_iequirks a.cke_dialog_ui_button span,.cke_skin_kama .cke_browser_iequirks a.cke_dialog_ui_button span,.cke_skin_kama .cke_browser_ie6 a.cke_dialog_ui_button span {
padding:5px 15px;
text-align:center;
color:#3b3b1f;
background:#53D9F0 none;
display:inline-block;
cursor:default;
}

.cke_skin_kama .cke_browser_webkit a.cke_dialog_ui_button span.cke_dialog_ui_button {
margin:0;
}

.cke_skin_kama .cke_browser_webkit a.cke_dialog_ui_button {
display:inline-block;
padding-top:3px;
padding-bottom:2px;
margin:2px 0;
}

.cke_skin_kama a.cke_dialog_ui_button_ok span,.cke_skin_kama a.cke_dialog_ui_button_cancel span {
padding-right:20px;
padding-left:20px;
}

.cke_skin_kama a.cke_dialog_ui_button_ok {
background-position:0 -1143px;
}

.cke_skin_kama a.cke_dialog_ui_button_ok span {
background:transparent url(images/sprites.png) no-repeat scroll right -1219px;
}

.cke_skin_kama .cke_rtl a.cke_dialog_ui_button_ok span {
background-position:left -1219px;
}

.cke_skin_kama .cke_browser_iequirks a.cke_dialog_ui_button_ok span,.cke_skin_kama .cke_browser_ie6 a.cke_dialog_ui_button_ok span {
background-color:#B8E834;
margin-right:0;
}

.cke_skin_kama a.cke_dialog_ui_button_cancel {
background-position:0 -1104px;
}

.cke_skin_kama a.cke_dialog_ui_button_cancel span {
background:transparent url(images/sprites.png) no-repeat scroll right -1245px;
}

.cke_skin_kama .cke_rtl a.cke_dialog_ui_button_cancel span {
background-position:left -1245px;
}

.cke_skin_kama .cke_browser_iequirks a.cke_dialog_ui_button_cancel span,.cke_skin_kama .cke_browser_ie6 a.cke_dialog_ui_button_cancel span {
background-color:#F65D20;
}

.cke_skin_kama .cke_browser_iequirks a.cke_dialog_ui_button_cancel span,.cke_skin_kama .cke_browser_ie6 a.cke_dialog_ui_button_cancel span,.cke_skin_kama .cke_browser_iequirks a.cke_dialog_ui_button_ok span,.cke_skin_kama .cke_browser_ie6 a.cke_dialog_ui_button_ok span {
background-image:none;
}

.cke_skin_kama span.cke_dialog_ui_button {
padding:2px 10px;
text-align:center;
color:#222;
display:inline-block;
cursor:default;
}

.cke_skin_kama .cke_browser_gecko18 .cke_dialog_footer_buttons span.cke_dialog_ui_button {
display:block;
}

.cke_skin_kama a.cke_dialog_ui_button span.cke_disabled {
border:#898980 1px solid;
color:#5e5e55;
background-color:#c5c5b3;
}

.cke_skin_kama a:hover.cke_dialog_ui_button,.cke_skin_kama a:focus.cke_dialog_ui_button,.cke_skin_kama a:active.cke_dialog_ui_button {
background-position:0 -1179px;
}

.cke_skin_kama .cke_browser_iequirks a:hover.cke_dialog_ui_button span,.cke_skin_kama .cke_browser_iequirks a:focus.cke_dialog_ui_button span,.cke_skin_kama .cke_browser_iequirks a:active.cke_dialog_ui_button span,.cke_skin_kama .cke_browser_ie6 a:hover.cke_dialog_ui_button span,.cke_skin_kama .cke_browser_ie6 a:focus.cke_dialog_ui_button span,.cke_skin_kama .cke_browser_ie6 a:active.cke_dialog_ui_button span {
background-image:none;
background:#F7A922;
}

.cke_skin_kama .cke_dialog_footer_buttons {
display:inline-table;
margin-right:12px;
margin-left:12px;
width:auto;
position:relative;
}

.cke_skin_kama .cke_browser_gecko18 .cke_dialog_footer_buttons {
display:inline;
}

.cke_skin_kama .cke_dialog_footer_buttons span.cke_dialog_ui_button {
margin:7px 0;
width:60px;
text-align:center;
}

.cke_skin_kama .cke_browser_gecko18 .cke_dialog_footer_buttons a.cke_dialog_ui_button {
display:block;
padding:0;
}

.cke_skin_kama .cke_browser_gecko18 .cke_dialog_footer_buttons span.cke_dialog_ui_button {
padding-bottom:5px;
padding-top:6px;
margin-bottom:0;
}

.cke_skin_kama .cke_browser_gecko18 .cke_dialog_footer_buttons .cke_dialog_ui_button_ok .cke_dialog_ui_button {
background-position:right -1214px;
}

.cke_skin_kama .cke_browser_gecko18 .cke_dialog_footer_buttons .cke_dialog_ui_button_cancel .cke_dialog_ui_button {
background-position:right -1242px;
}

.cke_skin_kama strong {
font-weight:bold;
}

.cke_skin_kama .cke_dialog_close_button {
background-image:url(images/sprites.png);
background-repeat:no-repeat;
background-position:0 -1022px;
position:absolute;
cursor:pointer;
text-align:center;
height:20px;
width:20px;
top:5px;
_background-image:url(images/sprites_ie6.png);
}

.cke_skin_kama .cke_dialog_close_button span {
display:none;
}

.cke_skin_kama .cke_dialog_close_button:hover {
background-position:0 -1045px;
}

.cke_skin_kama .cke_ltr .cke_dialog_close_button {
right:10px;
}

.cke_skin_kama .cke_browser_ie8.cke_rtl .cke_dialog_close_button {
left:8px;
}

.cke_skin_kama .cke_rtl .cke_dialog_close_button {
left:10px;
}

.cke_skin_kama .cke_browser_ie7.cke_rtl .cke_dialog_close_button {
left:16px;
top:0;
}

.cke_skin_kama .cke_browser_ie7.cke_rtl .cke_dialog_close_button {
position:absolute;
left:10px;
top:5px;
}

.cke_skin_kama .cke_browser_ie7.cke_single_page .cke_dialog_footer {
margin-top:22px;
}

.cke_skin_kama .cke_browser_ie6 .cke_dialog_close_button,.cke_skin_kama .cke_browser_iequirks .cke_dialog_close_button {
top:7px;
}

.cke_skin_kama .cke_browser_ie7.cke_ltr .cke_dialog_close_button {
margin-top:0;
}

.cke_skin_kama .cke_dialog_ui_input_select {
border:1px solid #a0a0a0;
background-color:white;
}

.cke_skin_kama iframe.cke_dialog_ui_input_file {
width:100%;
height:25px;
}

.cke_skin_kama .cke_dialog .cke_dark_background {
background-color:#eaead1;
}

.cke_skin_kama .cke_dialog .cke_hand {
cursor:pointer;
}

.cke_skin_kama .cke_dialog .cke_centered {
text-align:center;
}

.cke_skin_kama .cke_dialog a.cke_btn_reset {
float:right;
background-position:0 -32px;
background-image:url(images/mini.gif);
width:16px;
height:16px;
background-repeat:no-repeat;
border:1px none;
font-size:1px;
}

.cke_skin_kama .cke_rtl .cke_dialog a.cke_btn_reset {
float:left;
}

.cke_skin_kama .cke_dialog a.cke_btn_locked,.cke_skin_kama .cke_dialog a.cke_btn_unlocked {
float:left;
background-position:0 0;
background-image:url(images/mini.gif);
width:16px;
height:16px;
background-repeat:no-repeat;
border:none 1px;
font-size:1px;
}

.cke_skin_kama .cke_rtl .cke_dialog a.cke_btn_locked,.cke_skin_kama .cke_rtl .cke_dialog a.cke_btn_unlocked {
float:right;
}

.cke_skin_kama .cke_dialog a.cke_btn_unlocked {
background-position:0 -16px;
background-image:url(images/mini.gif);
}

.cke_skin_kama .cke_dialog .cke_btn_over {
border:outset 1px;
cursor:pointer;
cursor:hand;
}

.cke_skin_kama .cke_dialog #ImagePreviewBox {
white-space:normal;
border:2px ridge black;
overflow:scroll;
height:160px;
width:230px;
padding:2px;
background-color:white;
}

.cke_skin_kama .cke_dialog #ImagePreviewLoader {
position:absolute;
white-space:normal;
overflow:hidden;
height:160px;
width:230px;
margin:2px;
padding:2px;
opacity:.9;
filter:alpha(opacity=90);
background-color:#e4e4e4;
}

.cke_skin_kama .cke_dialog #FlashPreviewBox {
white-space:normal;
border:2px ridge black;
overflow:auto;
height:160px;
width:390px;
padding:2px;
background-color:white;
}

.cke_skin_kama .cke_dialog .cke_dark_background {
text-align:center;
background-color:#eaead1;
font-size:14px;
}

.cke_skin_kama .cke_dialog .cke_light_background {
text-align:center;
background-color:#ffffbe;
}

.cke_skin_kama .cke_dialog .cke_hand {
cursor:pointer;
cursor:hand;
}

.cke_skin_kama .cke_disabled,.cke_skin_kama .cke_disabled label {
color:#a0a0a0;
}

.cke_skin_kama .cke_hc .cke_dialog_title,.cke_skin_kama .cke_hc .cke_dialog_tabs,.cke_skin_kama .cke_hc .cke_dialog_contents,.cke_skin_kama .cke_hc .cke_dialog_footer {
border-left:1px solid;
border-right:1px solid;
}

.cke_skin_kama .cke_hc .cke_dialog_title {
border-top:1px solid;
}

.cke_skin_kama .cke_hc .cke_dialog_footer {
border-bottom:1px solid;
}

.cke_skin_kama .cke_hc .cke_dialog_close_button span {
display:inline;
cursor:pointer;
cursor:hand;
font-weight:bold;
position:relative;
top:3px;
}

.cke_skin_kama .cke_hc a.cke_btn_locked,.cke_skin_kama .cke_hc a.cke_btn_unlocked,.cke_skin_kama .cke_hc a.cke_btn_reset {
border-style:solid;
}

.cke_skin_kama a.cke_smile img {
border:2px solid #eaead1;
}

.cke_skin_kama a.cke_smile:focus img,.cke_skin_kama a.cke_smile:active img,.cke_skin_kama a.cke_smile:hover img {
border-color:#C7C78F;
}

.ckfinder_loader_32 {
background:url( "images/loaders/32x32.gif ") 50% 50% no-repeat;
}

.cke_skin_kama .cke_dialog_file_exist_options table {
margin-bottom:10px;
}

.cke_skin_kama .cke_dialog_remember_decision td {
padding:10px;
}

.cke_skin_kama .cke_dialog_error_msg strong {
color:red;
border:1px solid #FFF;
padding:10px;
margin-bottom:20px;
display:block;
}

.cke_skin_kama .cke_files_list {
padding:10px 10% 0;
line-height:1.2em;
}

.cke_skin_kama .cke_files_list_many {
height:5em;
overflow:auto;
}

.cke_skin_kama .cke_dialog_file_exist_options .cke_dialog_ui_labeled_label {
margin-bottom:10px;
}

.cke_skin_kama .cke_browser_opera .cke_editor.cke_skin_kama .cke_resizer {
display:table;
}

.cke_skin_kama .cke_resizer {
width:12px;
height:12px;
margin-top:9px;
display:block;
float:right;
background-image:url(images/sprites.png);
_background-image:url(images/sprites_ie6.png);
background-position:0 -1428px;
background-repeat:no-repeat;
cursor:se-resize;
}

.cke_skin_kama .cke_browser_air .cke_resizer,.cke_skin_kama .cke_browser_air .cke_rtl .cke_resizer {
cursor:move;
}

.cke_skin_kama .cke_rtl .cke_resizer {
cursor:sw-resize;
background-position:0 -1455px;
float:left;
}

.cke_skin_kama .cke_resizer_horizontal,.cke_skin_kama .cke_rtl .cke_resizer_horizontal {
cursor:e-resize;
}

.cke_skin_kama .cke_resizer_vertical,.cke_skin_kama .cke_rtl .cke_resizer_vertical {
cursor:n-resize;
}

.cke_skin_kama .cke_maximized .cke_resizer {
display:none;
}

body {
font-size:8pt;
}

.no_list,.no_list li {
list-style-type:none;
margin:0;
}

.view h2 {
padding:.3em .5em;
font-size:2em;
_zoom:1;
}

.dragged_source {
filter:alpha(opacity=50);
opacity:.50;
}

#dragged_container {
filter:alpha(opacity=75);
opacity:.75;
z-index:999;
}

body.dragging a,body.dragging a:hover,body.dragging a:active,body.dragging a:visited {
color:inherit!important;
text-decoration:none;
cursor:default!important;
}

body.dragging .drop_target,body.dragging .drop_target a {
cursor:pointer!important;
}

body.dragging .cke_skin_kama .cke_button a.cke_off:hover,body.dragging .cke_skin_kama .cke_button a:hover,body.dragging .cke_skin_kama .cke_button a:active {
background-color:inherit!important;
filter:alpha(opacity=70);
opacity:.70;
}

body.during_sidebar_resize * {
cursor:e-resize!important;
}

body.during_sidebar_resize .browser_webkit * {
-webkit-user-select:none;
}

#sidebar_wrapper,#sidebar_container {
_position:relative;
}

#sidebar_container {
cursor:e-resize;
}

#sidebar_wrapper {
cursor:default;
}

#folders_view {
overflow:auto;
overflow-x:hidden;
position:relative;
}

#folders_view .folder_tree_wrapper {
position:relative;
z-index:1;
}

#folders_view .folder_tree {
padding-bottom:5px;
position:relative;
z-index:2;
}

#folders_view .folder_tree ul {
margin:0;
padding-left:15px;
}

#folders_view .folder_tree li {
white-space:nowrap;
}

#folders_view .folder_tree li.drop_target ul a {
color:inherit;
}

#folders_view .folder_tree li.loading {
padding-left:23px;
font-style:italic;
}

#folders_view .folder_tree li.openable ul {
display:none;
}

#folders_view .folder_tree li a {
padding-left:23px;
padding-bottom:3px;
}

#folders_view .folder_tree li .expander {
float:left;
_zoom:1;
_float:none;
height:16px;
width:16px;
background:0 2px no-repeat;
}

#folders_view .folder_tree li.nochildren .expander {
background-image:none;
}

#folders_view .folder_tree li.nochildren ul {
display:none;
}

#folders_view .folder_tree_wrapper .selection {
position:absolute;
left:0;
width:100%;
display:none;
margin-top:-2px;
padding-top:2px;
}

#folders_view .folder_tree li.drop_target a {
font-weight:bold!important;
text-decoration:none!important;
}

#folders_view .folder_tree li.drop_target ul a {
font-weight:inherit!important;
cursor:default!important;
}

#folders_view .folder_tree a.processing {
filter:alpha(opacity=50);
opacity:.50;
}

#folders_view .folder_tree .dropdown {
padding-left:5px;
padding-right:5px;
display:none;
}

#folders_view .selected ul .dropdown {
display:none;
}

#folders_view .selected .dropdown {
display:inline;
}

#sidebar_container .tool_panel ul li img {
vertical-align:middle;
margin-right:.3em;
}

#sidebar_container .tool_panel ul {
padding-left:.5em;
padding-right:.5em;
}

#sidebar_container .tool_panel p {
margin:0 1em .5em 1em;
}

#sidebar_container .tool,#sidebar_container .tool * {
overflow:auto;
}

#toolbar_view {
float:left;
width:100%;
border-bottom:1px solid;
}

#toolbar_view .cke_button .cke_label {
display:inline;
}

#toolbar_view .cke_toolgroup {
margin-bottom:0;
}

#panel_view {
clear:left;
position:relative;
}

#panel_view .panel_widget form {
text-align:center;
}

#panel_view .panel_widget h2 {
text-align:left;
}

#panel_view .panel_widget table {
width:auto;
margin:0 auto 1em;
text-align:left;
}

#panel_view .panel_widget dl {
padding:5px;
margin:0;
white-space:nowrap;
}

#panel_view .panel_widget dd {
margin:0;
}

#panel_view .panel_widget dd input {
vertical-align:middle;
}

#panel_view .panel_widget .buttons {
width:100%;
text-align:right;
}

#panel_view .panel_widget .buttons input {
margin:.5em;
}

#panel_view .panel_widget {
border:1px solid;
-moz-border-radius:5px;
-webkit-border-radius:5px;
}

#upload_form .progress_bar {
display:none;
}

#upload_form.progress_visible .progress_bar {
display:block;
}

#upload_form .progress_bar_container div {
height:1em;
background:black;
width:0;
}

#upload_form.progress_visible .progress_bar span {
padding:0 1em;
}

#upload_form.progress_visible .progress_bar .count {
font-weight:bold;
}

#files_view {
clear:left;
height:auto;
overflow:auto;
_width:99.9%;
overflow-x:hidden;
border:1px solid transparent;
}

#files_view .message_content {
display:none !important;
}

#files_view.files_message .message_content {
display:block;
}

#files_view .message_content {
float:left;
margin:1em;
padding:1em;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
}

#files_view .files_thumbnails {
height:auto;
clear:left;
}

#files_view.files_thumbnails table.files_details {
display:none;
}

#files_view.files_details .files_thumbnails {
display:none;
}

#files_view .files_thumbnails .file_entry,#dragged_container.file_entry {
float:left;
width:110px;
border:1px solid;
margin:5px;
padding:5px;
overflow:hidden;
text-align:center;
}

#files_view .files_thumbnails .file_entry h5,#dragged_container.file_entry h5 {
display:block;
font-weight:normal;
overflow:hidden;
white-space:nowrap;
}

#files_view .files_thumbnails .file_entry .image div,#dragged_container.file_entry .image div,#files_view .files_thumbnails .processing .image {
margin:auto;
overflow:hidden;
height:100px;
width:100px;
background:50% 50% no-repeat;
}

#files_view .files_thumbnails .processing .image div {
display:none;
}

#files_view .files_thumbnails .file_entry .details span,#dragged_container.file_entry .details span {
display:block;
}

#files_view .files_thumbnails .extra,#dragged_container.file_entry .extra {
height:1.3em;
overflow:hidden;
}

.files_thumbnails .dropdown {
position:absolute;
top:0;
left:0;
padding:2px 20px 20px 3px;
}

.files_details .dropdown {
padding:.3em 5px;
}

#dragged_container .dropdown {
display:none;
}

#files_view .files_thumbnails .file_entry {
position:relative;
}

.browser_ie6 .files_thumbnails .dropdown,.browser_ie7 .files_thumbnails .dropdown {
position:static;
display:block;
width:100%;
padding:0;
text-align:left;
cursor:hand;
}

.browser_ie6 #files_view .files_thumbnails .file_entry,.browser_ie7 #files_view .files_thumbnails .file_entry {
position:static;
}

#files_view .files_details {
width:100%;
clear:left;
}

#files_view .files_details thead td {
text-align:center;
font-weight:bold;
}

#files_view .files_details td.image img {
vertical-align:middle;
}

#files_view .files_details td.name {
width:100%;
}

#files_view .files_details td {
vertical-align:middle;
padding:.3em .5em;
white-space:nowrap;
border:1px solid;
}

#files_view .files_details td.extra {
text-align:right;
padding-right:2em;
}

#files_view .files_details td.last {
padding-right:1em;
border-right:0;
}

#status_view p {
padding:5px;
margin:0;
vertical-align:middle;
}

#ckfinder {
color:black;
position:absolute;
top:7px;
left:7px;
bottom:7px;
right:7px;
overflow:hidden;
width:auto;
height:auto;
_height:100%;
}

.browser_ie7 .fake_wrapper {
position:absolute;
top:0;
bottom:0;
}

#main_container .view {
margin-bottom:7px;
}

#main_container #status_view {
margin-bottom:0;
}

#sidebar_container .tool_panel,#sidebar_container .tool {
margin-top:7px;
}

#sidebar_container {
border-right:7px;
}

.browser_ie6 #toolbar_view {
zoom:1;
}

#panel_view {
_zoom:1;
}

#status_view {
height:2.5em;
}

body {
background:url( "images/sprites.png ") 0 -1950px repeat-x;
_background-image:none;
}

#sidebar_container .view {
border:1px solid;
}

#sidebar_container {
border-style:solid;
}

.browser_ie6 #toolbar_view {
padding-bottom:5px;
}

#panel_view .submit {
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-webkit-border-bottom-right-radius:5px;
-webkit-border-bottom-left-radius:5px;
}

.view {
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
background:white;
}

#status_view {
_clear:both;
}

#toolbar_view .cke_toolbox {
padding:0;
}

body {
background-color:#D3D3D3;
}

#files_view .files_thumbnails .file_entry,#dragged_container.file_entry {
background:white;
border-color:#D3D3D3;
}

.view h2 {
color:black;
}

#sidebar_container {
border-color:transparent;
_border-color:#D3D3D3;
}

#panel_view .panel_widget .buttons_wrapper {
background-color:#D3D3D3;
-moz-border-radius:0 0 5px 5px;
-webkit-border-radius:0 0 5px 5px;
}

#panel_view .panel_widget .buttons {
background-color:#E0E0E0;
-moz-border-radius:0 0 5px 5px;
-webkit-border-radius:0 0 5px 5px;
}

#folders_view .folder_tree li a,#folders_view .folder_tree li a:hover,#folders_view .folder_tree li a:active,#folders_view .folder_tree li a:visited,#files_view .files_thumbnails a.file_entry,#files_view .files_thumbnails a.file_entry:hover,#files_view .files_thumbnails a.file_entry:active,#files_view .files_thumbnails a.file_entry:visited {
color:black;
text-decoration:none;
}

#folders_view .folder_tree li a:hover,#folders_view .folder_tree li a:focus,#folders_view .folder_tree li a:active {
color:blue;
text-decoration:underline;
}

#status_view {
background-color:#E0E0E0;
}

#toolbar_view {
border:none;
background:transparent;
}

.view {
background-color:white;
}

#sidebar_container .view {
border-color:#D3D3D3;
}

#files_view {
background:#E0E0E0;
_border-color:#D3D3D3;
}

#files_view .files_thumbnails .file_entry:hover {
background-color:#DFF1FF;
border-color:#9CF;
}

#files_view .files_thumbnails .file_entry.selected {
background-color:#b4d9ff;
border-color:#6565fe;
_background-color:#b4d9ff!important;
_border-color:#6565fe!important;
}

.dropdown {
color:#666;
background:none!important;
text-decoration:none;
}

body.dragging #files_view .file_entry {
background:white!important;
border-color:#D3D3D3!important;
}

body.dragging #files_view .dragged_source {
background-color:#b4d9ff!important;
border-color:#6565fe!important;
}

#files_view .files_details tbody tr:hover,#files_view .files_details tbody tr:hover td,#files_view .files_details tbody tr.hover td,#files_view .files_details tbody tr:hover td.name,#files_view .files_details tbody tr.hover td.name {
background-color:#DFF1FF;
}

#files_view .files_details tr.selected,#files_view .files_details tr.selected td {
background-color:#b4d9ff;
}

#folders_view .folder_tree_wrapper .selection {
background-color:antiquewhite;
}

#files_view .files_details td.name {
background-color:white;
}

#files_view .files_details td {
border-color:#D3D3D3;
}

#files_view .message_content {
background-color:#b4d9ff;
}

.focus_inside {
border-color:#5cacfd!important;
}

#panel_view .panel_widget {
border:0;
}

#panel_view .show_border {
border:1px solid #D3D3D3;
}

div.wrapper div.tool_panel{
    visibility: hidden !important;
}